@using simpleReading.Extensions
@using simpleReading.ViewModel
@model UpdateViewModel
@{
    ViewData["Title"] = "Adicionar novas páginas lidas";
    var user = Context.Session.GetObject<User>("logged_user");
}

<div class="text-center">
    <h4 class="display-4">Adicionar novas páginas lidas</h4>
</div>


@if (TempData["UpdateMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["UpdateMessage"]
    </div>
}

@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["DeleteMessage"]
    </div>
}

@foreach (var yearGroup in Model.GroupedReads.ReadsByYearAndMonth.OrderByDescending(y => y.Key))
{
    <div class="ms-3">
        <h2>@yearGroup.Key</h2>

        @foreach (var monthGroup in yearGroup.Value.OrderByDescending(m => m.Key))
        {
            <div class="ms-3">
                <h3>@Model.GroupedReads.MonthNames[monthGroup.Key]</h3>

                <ul class="list-group list-group-flush">
                    @foreach (var read in monthGroup.Value)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>@read.Title</strong> - @read.Author
                                    <span class="text-muted small">(@read.CreatedAt.ToString("dd/MM"))</span>
                                </div>

                                <div class="d-flex flex-row bd-highlight mb-3 ">
                                    <div class="container">
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#@read.Id">
                                            Adicionar novas páginas lidas
                                        </button>

                                    <!-- Modal -->
                                        <div class="modal fade" id="@read.Id" tabindex="1" role="dialog" aria-labelledby="@read.Id" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modal title">@read.Title</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <form asp-controller="Read" asp-action="UpdateReadedPages" method="post">
                                                            <input type="hidden" value="@(read.Id)" asp-for="Read.Id" />

                                                            <div class="form-group">
                                                                <label>Número de páginas lidas</label>
                                                                <input id="inputPage" class="form-control" type="number"  />
                                                            </div>

                                                            <div class="form-check">
                                                                <label class="form-check-label" asp-for="Read.Finished">leitura finalizada?</label>
                                                                @if (read.Finished)
                                                                {
                                                                    <input class="form-check-input" asp-for="Read.Finished" type="checkbox" checked/>
                                                                }
                                                                else
                                                                {
                                                                    <input class="form-check-input" asp-for="Read.Finished" type="checkbox" />
                                                                }
                                                                <span asp-validation-for="Read.Finished"></span>
                                                            </div>

                                                            <div hidden>
                                                                <div class="form-group">
                                                                    <label asp-for="Read.Title"></label>
                                                                    <input id="pages" class="form-control" asp-for="Read.Title" />
                                                                    <span asp-validation-for="Read.Title"></span>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label asp-for="Read.Author"></label>
                                                                    <input class="form-control" asp-for="Read.Author" value="@read.Author" />
                                                                    <span asp-validation-for="Read.Author"></span>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label asp-for="Read.Source"></label>
                                                                    <input class="form-control" asp-for="Read.Source" value="@read.Source"/>
                                                                    <span asp-validation-for="Read.Source"></span>
                                                                </div

                                                                <div class="form-group">
                                                                    <label asp-for="Read.CreatedAt"></label>
                                                                    <input class="form-control" asp-for="Read.CreatedAt" value="@read.CreatedAt.ToString("yyyy-MM-dd")" type="date"  />
                                                                    <span asp-validation-for="Read.CreatedAt"></span>
                                                                </div>
                                                            </div>

                                                                <div class="modal-footer d-flex justify-content-between">
                                                                    <div>
                                                                        <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
                                                                    </div>
                                                                </div>  
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </li>
                    }
                </ul>
            </div>
            <br />
        }
    </div>
    <br />
}

<script type="text/javascript">

    function SincNumber(element, boundElement) {
        this.element = element;
        this.boundElement = boundElement;

        this.element.value = this.boundElement.value;

        this.handleChange = this.handleChange.bind(this);
        this.element.addEventListener("change", this.handleChange);
        this.boundElement.addEventListener("change", this.handleChange);
    }

    SincNumber.prototype.handleChange = function (event) {
        this.boundElement.value = this.element.value;
    }

    var binder = new SincNumber(document.getElementById("inputPage"), document.getElementById("pages"));
</script>