@page "/remover"
@inject simpleReading.ReadService ReadService;

<h3>Remover leitura</h3>

@if(ReadService.GetReads().Count() < 1)
{
    <h1>Lista de leituras vazia!</h1>
}
else
{
    <label>Insira o id</label>
    <input type="number" @bind="id" placeholder="buscar leitura" min="1" />
    <button @onclick="SearchRead">buscar</button>

    @if (searched)
    {
        @if (!removed && read != null)
        {
            <table>
                <tr>
                    <th colspan="2" align="center">@read.Title</th>
                </tr>
                <tr>
                    <th>Autor</th>
                    <th>@read.Author</th>
                </tr>
                <tr>
                    <th>Lido</th>
                    <th>@(read.Readed ? "Sim" : "Não")</th>
                </tr>
                <tr>
                    <th>Fonte/Link</th>
                    <th>@read.Source</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>@read.Id</th>
                </tr>
            </table>
        }

        @if (searched)
        {
            <button @onclick="Remove">remover leitura</button>

            @if (removed)
            {
                <span>leitura removida</span>
            }
        }
    }
    else
    {
        <span>@msgWarning</span>
    }

}

@code {

    private int id = 1;
    private Read read = new Read();
    private bool searched = false;
    private bool removed = false;
    private string msgWarning = "";

    private void SearchRead()
    {
        read = ReadService.GetReadById(id);
        if (read == null)
        {
            searched = false;
            msgWarning = "leitura não encontrada! Confirme o id.";
        }
        else
        {
            searched = true;
            msgWarning = "";
        }
    }

    private void Remove()
    {
        ReadService.RemoveRead(id);
        removed = true;
        read = new Read();
    }
}
