@page "/remover"
@inject simpleReading.ReadService ReadService;

<h3>Remover leitura</h3>

@if(ReadService.GetReads().Count() < 1)
{
    <h1>Lista de leituras vazia!</h1>
}
else
{
    <label>Insira o id</label>
    <input type="number" @bind="id" placeholder="buscar leitura" min="1" max="@maxToSelect">
    <button @onclick="SearchRead">buscar</button>

    @if (searched)
    {
        @if (!removed)
        {
            <table>
                <tr>
                    <th colspan="2" align="center">@read.Title</th>
                </tr>
                <tr>
                    <th>Autor</th>
                    <th>@read.Author</th>
                </tr>
                <tr>
                    <th>Lido</th>
                    <th>@(read.Readed ? "Sim" : "Não")</th>
                </tr>
                <tr>
                    <th>Fonte/Link</th>
                    <th>@read.Source</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>@read.Id</th>
                </tr>
            </table>
        }

        <button @onclick="Remove">remover leitura</button>
        @if (removed)
        {
            <span>leitura removida</span>
        }
    }

}

@code {

    private int id = 1;
    private Read read = new Read();
    private int maxToSelect => ReadService.reads.Count();
    private bool searched = false;
    private bool removed = false;

    private void SearchRead()
    {
        Console.WriteLine("test");
        read = ReadService.GetReadById(id);
        searched = true;
    }

    private void Remove()
    {
        ReadService.RemoveRead(id);
        removed = true;
        read = new Read();
    }
}
