@using simpleReading.Extensions
@using simpleReading.ViewModel
@model GroupedReadsViewModel
@{
    ViewData["Title"] = "Home Page";
    var user = Context.Session.GetObject<User>("logged_user");

    var dailyReads = user.Reads.FirstOrDefault(predicate: r => r.CreatedAt.ToLocalTime().Day == DateTime.UtcNow.ToLocalTime().Day);
}

<div class="text-center">
    <h4 class="display-4">Minhas Leituras</h4>
</div>

@foreach (var yearGroup in Model.ReadsByYearAndMonth.OrderByDescending(y => y.Key))
{
    <div class="ms-3">
        <h2>@yearGroup.Key</h2>

        @foreach (var monthGroup in yearGroup.Value.OrderByDescending(m => m.Key))
        {
            <div class="ms-3">
                <h3>@Model.MonthNames[monthGroup.Key]</h3>

                <ul class="list-group list-group-flush">
                    @foreach (var read in monthGroup.Value)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>@read.Title</strong> - @read.Author
                                    <span class="text-muted small">(@read.CreatedAt.ToString("dd/MM"))</span>
                                </div>
                                <div>
                                    @if (!string.IsNullOrWhiteSpace(read.Source))
                                    {
                                        <a href="@read.Source">ler</a>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <br />
        }
    </div>
    <br />
}