@page "/adicionar"
@using simpleReading;
@inject simpleReading.ReadService ReadService;

<h1>Adicionar nova leitura</h1>

<div>
    <label>deseja enviar arquivo?</label>
    <input type="checkbox" @bind="sendFile" />
</div>

@if (!sendFile)
{
    <label>título</label>
    <input type="text" @bind="title" placeholder="título" />

    <label>autor</label>
    <input type="text" @bind="author" placeholder="autor" />

    <label>já foi lido?</label>
    <input type="checkbox" @bind="readed" />

    <label>fonte/link</label>
    <input type="text" @bind="source" placeholder="fonte/link" />

    <button @onclick="AddNewRead">adicionar leitura</button>
    @if (!string.IsNullOrWhiteSpace(msgWarning))
    {
        <label>@msgWarning</label>

        @if (addedRead != null)
        {
            <table>
                <tr>
                    <th colspan="2" align="center">@addedRead.Title</th>
                </tr>
                <tr>
                    <th>Autor</th>
                    <th>@addedRead.Author</th>
                </tr>
                <tr>
                    <th>Lido</th>
                    <th>@(addedRead.Readed ? "Sim" : "Não")</th>
                </tr>
                <tr>
                    <th>Fonte/Link</th>
                    <th>@addedRead.Source</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>@addedRead.Id</th>
                </tr>
            </table>
        }
    }
}
else
{
    <div>
        <InputFile OnChange="LoadJson" />
    </div>
}

@code {
    private string title = "";
    private string author = "";
    private bool readed = false;
    private string source = ""; 

    private static bool sendFile = false;
    private int maxFileSize = 5 * 1024 * 1024; // 5MB
    private string fileContent = "";

    private string msgWarning = "";

    private Read addedRead = new Read();

    private void AddNewRead()
    {
        if (!string.IsNullOrWhiteSpace(title) 
            && !string.IsNullOrWhiteSpace(author))
        {
            Read read = new Read(title, author, readed, source);
            ReadService.AddRead(read);

            title = "";
            author = "";
            readed = false;
            source = "";
            msgWarning = "leitura adicionada";

            addedRead = read;
        }
        else
        {
            msgWarning = "preencha todos os campos";
            addedRead = null;
        }
    }

    private async Task LoadJson(InputFileChangeEventArgs e)
    {
        // abre o arquivo e lê seu conteúdo
        fileContent = await new StreamReader(e.File.OpenReadStream(maxFileSize)).ReadToEndAsync();

        // zera lista já existente
        ReadService.reads = [];

        // desserializa Json
        ReadService.reads = System.Text.Json.JsonSerializer.Deserialize<List<Read>>(fileContent);
    }
}