@page "/"
@inject simpleReading.ReadService ReadService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<PageTitle>Leituras</PageTitle>

<h1>Suas leituras</h1>

<label>lista simplificada</label>
<input type="checkbox" @bind="simpleVisual" />

<br>

<label>apenas lidos</label>
<input type="checkbox" @bind="JustReaded" />


<div>
    @if (ReadService.reads.Count() == 0)
    {
        <h3>Não há leituas inseridas!</h3>
    }
    else
    {
        @if (!JustReaded)
        {
            <h4>total de livros: @ReadService.GetReads().Count()</h4>
        }
        else
        {
            <h4>total de livros lidos: @ReadService.GetReads().Where(x => x.Readed == true).Count()</h4>
        }
        @foreach (var read in Reads)
        {
            if (!simpleVisual)
            {   
                <div>
                    <ul>
                        <li>
                            <strong>@read.Title</strong>, de @read.Author
                        </li>
                        <ul>
                            <li>
                                Id: @read.Id
                            </li>
                            <li>
                                Já foi lido: @(read.Readed? "Sim" : "Não")
                            </li>
                            <li>
                                Fonte: @if(string.IsNullOrWhiteSpace(read.Source))
                                {
                                    <span>Origen ou fonte não inserida.</span>
                                }
                                else
                                {
                                    @read.Source
                                }
                            </li>
                        </ul>
                    </ul>
                     <div class="result-search"></div>
                </div>
                <br>
            }
            else
            {
                <div>
                    <ul>
                        <li>
                            <strong>@read.Title</strong>, de @read.Author
                        </li>
                    </ul>
                </div>
            }
        }
    }
</div>

@code {
    private static bool simpleVisual = true;
    private static bool JustReaded = false;
    private List<Read> Reads => JustReaded ? ReadService.GetReads().FindAll(x => x.Readed == true) : ReadService.GetReads();

    protected override async Task OnInitializedAsync()
    {
        var result = await localStorage.GetItemAsync<List<Read>>("reads"); // busca localStorage por chave
        if (result is null)
        {
            await localStorage.SetItemAsync("reads", ReadService.GetReads()); // define chave e valor do localStorage
        }
        else
        {
            ReadService.reads = result;
        }
    }
}