@page "/remover"
@inject simpleReading.ReadService ReadService;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<PageTitle>Remover</PageTitle>

<h1>Remover leitura</h1>

@if (ReadService.reads.Count() < 1)
{
    <h3>Não há leituas inseridas!</h3>
}
else
{
    <label>Insira o id</label>
    <input type="number" @bind="id" placeholder="buscar leitura" min="1" />
    <button @onclick="SearchRead">buscar</button>
    <br>
    <br>

    <button @onclick="RemoveAll">Remover Todos</button>
    <br>
    <br>

    @if (searched)
    {
        @if (!removed && read != null)
        {
            <div class="result-search">   
                <label>Resultado da busca:</label> 
                <ul>
                    <li>
                        <strong>@read.Title</strong>, de @read.Author
                    </li>
                    <ul>
                        <li>
                            Id: @read.Id
                        </li>
                        <li>
                            Já foi lido: @(read.Readed? "Sim" : "Não")
                        </li>
                        <li>
                            Fonte: @if(string.IsNullOrWhiteSpace(read.Source))
                            {
                                <span>Origen ou fonte não inserida.</span>
                            }
                            else
                            {
                                @read.Source
                            }
                        </li>
                    </ul>
                    <button @onclick="(() => Remove(id))">remover leitura</button>
                </ul>
            </div>
            <br>
        }

        <br>
        @if (searched)
        {
            @if (removed)
            {
                <span> leitura removida</span>
            }
        }
    }
    else
    {
        <span>@msgWarning</span>
    }

    @foreach (var read in ReadService.reads)
    {
        <div>   
            <ul>
                <li>
                    Id: @read.Id. <strong>@read.Title</strong>, de @read.Author 
                </li>
                <button @onclick="(() => Remove(id))">remover leitura</button>
            </ul> 
            <div class="result-search"></div>
        </div>
    }
}



@code {

    private int id = 1;
    private Read read = new Read();
    private bool searched = false;
    private bool removed = false;
    private string msgWarning = "";

    private void SearchRead()
    {
        read = ReadService.GetReadById(id);
        if (read == null)
        {
            searched = false;
            msgWarning = "leitura não encontrada! Confirme o id.";
        }
        else
        {
            searched = true;
            msgWarning = "";
        }
    }

    private void Remove(int id)
    {
        ReadService.RemoveRead(id);
        removed = true;
        read = new Read();
        localStorage.SetItemAsync("reads", ReadService.reads);
    }

    private void RemoveAll()
    {
        ReadService.reads = [];
        localStorage.SetItemAsync("reads", ReadService.reads);
        msgWarning = "leituras removidas";
    }
}
