@using simpleReading.Extensions
@{
    ViewData["Title"] = "Leituras";
    var currentUser = Context.Session.GetObject<User>("logged_user");
}

<h3>Minhas leituras</h3>

@if (currentUser.Reads.Any())
{
    @foreach (var read in currentUser.Reads)
    {
        <br />
        <h4>@read.Title</h4>
        <ul>
            <li>Autor: @read.Author</li>
            <li><a href="@read.Source">fonte</a></li>
        </ul>

        <div class="d-flex flex-row bd-highlight mb-3 ">
            <div class="p-2 bd-highlight">
                <a asp-controller="Read" asp-action="Delete" asp-route-id="@read.Id">
                    <button type="button" class="btn btn-outline-danger btn-sm">deletar</button>
                </a>
            </div>

            <div class="p-2 bd-highlight">
                <a asp-controller="Read" asp-action="Update" asp-route-id="@read.Id">
                    <button type="button" class="btn btn-outline-warning btn-sm">editar</button>
                </a>
            </div>
        </div>
    }
}
